<!DOCTYPE>
<html>
<head>
  <% include /partials/head %>
  <title>Brain Boost! - <%=type%></title>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
    // Load the Visualization API and the piechart package.
    google.load('visualization', '1.0', {
      'packages': ['corechart']
    });
    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(drawChart);
    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart() {
      // Create the data table.
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Type');
      data.addColumn('number', 'Votes');
      data.addRows([
        ['Upvotes', parseInt('<%=post.votes.up%>')],
        ['Downvotes', parseInt('<%=post.votes.down%>')]
      ]);
      // Set chart options
      var options = {
        'height': 300
      };
      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
      chart.draw(data, options);
      // Poll data
      var polls = "<%=post.poll%>";
      if (polls.length > 0) {
        polls = polls.split(",");
        var polldata = new google.visualization.DataTable();
        polldata.addColumn('string', 'Type');
        polldata.addColumn('number', 'Polls');
        for (var i = 0; i < polls.length; i++) {
          polldata.addRow([polls[i], 12]);
        }
        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('poll_div'));
        chart.draw(polldata, options);
      }
    }
    var commentShow = function(elem) {
      if (elem.checked) $("#commentSection").show();
      else $("#commentSection").hide();
    }
  </script>
</head>
<body>
  <% include /partials/header %>
  <div class="container">
    <h1 class="animated rollin"><%=type%></h1>
    <hr>
    <div id="boosts" class="post animated zoomInUp">
      <div class="post-left">
        <span class="glyphicon glyphicon-plus" id="btn-up"></span>
          <h4 id="vote-nbr"><%= post.votes.up - post.votes.down%></h4>
        <span class="glyphicon glyphicon-minus" id="btn-down"></span>
      </div>
      <% if (owner) { %>
        <div class="post-right">
          <span class="glyphicon glyphicon-remove" id="btn-delete">
        </div>
      <% } %>
      <h1> <%= post.content.title%></h1><hr>
      <pre><%= post.content.idea%></pre>
      <p class="text-muted text-right"><%=post.date.toDateString()%></p>
      <div id="chart_div"></div>
      <button type="button" class="fa fa-share share" data-toggle="modal" data-target="#shareModal" id="btn-share">
        Share
      </button>
      <a href="/user/<%=post.author.name%>"><blockquote><%=post.author.name%></blockquote></a>
      <div class="well">
        <div class="checkbox">
          <label><input type="checkbox" onclick="commentShow(this)">Comments</label>
        </div>
        <div id="commentSection" style="display:none">
          <div class="input-group">
            <input type="text" class="form-control" id="txt-comment" placeholder="Add a comment...">
            <span class="input-group-btn">
              <button class="btn btn-default" id="btn-comment" type="button">Comment</button>
            </span>
          </div>
          &nbsp;
          <div id="commentsBox">
            <% post.comments.sort(function(a,b) { return new Date(b.date) - new Date(a.date); }); %>
            <% post.comments.forEach(function(comment) { %>
              <div>
                <h5><%=comment.comment%></h5>
                <h6>~<a href="/user/<%=comment.author%>"><%=comment.author%></a>
                  <p class="text-muted text-right"><%=new Date(comment.date).toDateString()%></p>
                </h6>
              </div>
            <% }); %>
          </div>
        </div>
      </div>
    </div>
    <% if (post.poll.length > 0) { %>
      <div class="post">
        <h1>Poll</h1><hr>
        <div id="poll_div">
        </div>
        <div class="well">
          <% var polls = post.poll.split(",") %>
          <% for (var i = 0; i < polls.length; i++) { %>
            <div class="radio">
              <label><input type="radio" name="optradio"><%=polls[i]%></label>
            </div>
          <% } %>
        </div>
      </div>
    <% } %>
  </div>
  <% include /partials/scripts %>
  <% include /partials/modal %>
  <div class="container">
    <% include /partials/footer %>
  </div>
</body>
</html>
