<% posts.sort(function(a,b) { return (b.votes.up - b.votes.down) - (a.votes.up - a.votes.down)}); %>
<% posts.forEach(function(post) { %>
  <div id="boosts" class="post animated zoomInUp">
    <div class="post-left">
        <h4><%= post.votes.up - post.votes.down%></h4>
    </div>
    <a href="/posts/<%=post._id%>"><h1> <%=post.content.title%></h1></a><hr>
    <p><%=post.content.idea%></p>
    <p class="text-muted text-right"><%=post.date.toDateString()%></p>
    <a href="/user/<%=post.author.name%>"><blockquote><%=post.author.name%></blockquote></a>
  </div>
<% }); %>
